
body {

    background-color: paleturquoise;
    color: rgb(230, 14, 140);
    font-family: Georgia;
}

header {

    text-align: center;
    border: 3px dashed navy;
    background-color: orchid;
    color: navy;
    border-radius: 10px;
}

section div {
    width: 33.33%;
    float: left;
    padding: 30px;
  }